.navbar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}

.navbar-content {
  width: 100%;
  max-width: 1200px; /* Limit the NavBar width */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.logo {
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 20px;
  list-style: none;
}

.nav-links li {
  color: white;
  cursor: pointer;
}

.login-button {
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  background-color: #308d90;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-button:hover {
  background-color: #31aeb3;
}

.logo-button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  background-color: #31afb300;
}

.logo-button:hover {
  background-color: #31afb300;
}
