.navbar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}

.navbar-content {
  width: 100%;
  max-width: 1200px; /* Limit the NavBar width */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.logo {
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 20px;
  list-style: none;
  font-family: Roboto Mono;
  font-size: 16px;
}

.nav-links li {
  color: white;
  cursor: pointer;
  font-family: Roboto Mono;
  font-size: 16px;
}

.nav-links li a {
  text-decoration: none; /* Usuwa podkreślenie */
  color: white; /* Zachowuje biały kolor linków */
}

.nav-links li a:hover {
  text-decoration: none; /* Podkreślenie nie wraca na hover */
  color: #007bff; /* Opcjonalnie zmienia kolor na hover */
}

.login-button {
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  transform: translateY(-4px);
}

.login-button:hover {
  background-color: #0056b3;
}




