@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.register-form {
  animation: fadeIn 1.0s ease-in-out; /* Animacja ładowania */
}


.register-form {
  background: rgba(81, 92, 92, 0.6); /* Nowy kolor z przezroczystością */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  margin: 300px auto;
  color: white;
}

.register-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin: auto;
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input,
select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  font-size: 16px;
  box-sizing: border-box;
  border-radius: 20px; /* Większe zaokrąglenie */
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 18px;
  margin: 10px auto 0; /* Wyrównanie do środka */
  display: block; /* Styl blokowy dla centrowania */
  border-radius: 20px
}

button:hover {
  background-color: #0056b3;
}

.register-form .error {
  color: #ff4c4c;
  margin-top: 10px;
}

.register-form .success {
  color: #4caf50;
  margin-top: 10px;
}
